@import 'setup';
@import 'about';

html {
    font-size: 125%;
}

.wrapper {
    width: 100%;
    max-width: 3840px;
    background: $dark-gray;
}


h1,
h2,
h3,
p {
    margin: 0;
}

h2 {
    font-family: $great-vibe;
    
    span {
        color: $orange;
    }
}

ul {
    padding:0;
}

a {
    text-decoration: none;
    color: $off-white;
    transition-duration: .5s;

    &:hover {
        color: $orange;
    }
}
//***************************************************//
//=======================header======================//
//***************************************************//
header {
    background: url('../assets/veggie-platter.jpeg') center / cover no-repeat fixed $dark-gray;
    min-height: 95vh;
    position: relative;
}

// hero
h1 {
    padding-top: calc(45vh - 180px);
}

.hero-image {
    width: 38%;
    margin: 0 auto;

    img {
        width: 100%;
        max-width: 100%;
    }
}

.view-details {
    margin-top: 30px;
    text-align: center;

    button {
        background: rgba(225, 86, 14, .9);
        border: none;
        padding: 15px 40px;
        font-family: $open-sans;
        font-size: 1rem;
        font-weight: bold;
        color: $beige;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }
}

// menu
.menu {
    background: rgba(35, 41, 44, .9);
    width: 15%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.ham-menu {
    display: none;
}

.menu-wrapper {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $off-white;
}

.main-nav,
.theme-credits,
.menu-footer {
    width: 100%;
}

.main-nav ul,
.theme-credits,
.menu-footer {
    border-top: 1px solid $beige;
}

.main-nav ul,
.social-media {
    list-style-type: none;
}

.theme-credits,
.menu-footer {
    padding: 10px 0;
}

.main-nav ul{
    li {
        padding: 0 0 0 20px;
    }

    a {
        text-transform: uppercase;
        letter-spacing: .1rem;
        line-height: 2rem;
        position: relative;

        &::before {
            content: ">";
            font-size: 1rem;
            position: absolute;
            top: -8px;
            left: -20px;
        }
    }
}

// theme-credits
.theme-credits,
.menu-footer p {
    font-size: .5rem;
    text-align: center;
    line-height: 1rem;
}

.theme-credits a{
    text-decoration: underline;
}

// menu-footer

.social-media {
    display: flex;
    justify-content: space-evenly;
}